{% extends "base.html" %}
{% block content %}

  <style>

    #content svg {
      height: 400px;
    }

    .form-inline {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    .form-inline > * {
        margin:15px 3px !important;
    }
    h4 {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

  </style>

   <div class="container">
      <div id="content"></div>
  </div>

  <script type="text/babel" src="scripts/data.js"></script>
{% endblock %}
